<div class="card">
  <div class="card-body">
    <h2 class='card-title mb-4'>
      <span>New projects</span>
      
<h1>New Project</h1>

<%= render 'form', project: @project %>

<%= link_to 'Back', projects_path %>
